<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Private - Microphone Usabe Description</key>
	<string>マイクに使用します。</string>
	<key>Private - Speech Recognition Usage Description</key>
	<string>音声認識に使用します。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>これは何？</string>
</dict>
</plist>
